a:link{
    text-decoration: none;
}

a{
    color:white;
}
body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-image: url(../imagens/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header{
    width: 100%;
    height:60px;
    background-color: rgba(0,0,0,0.9);
    
}
#caixa-header{
    width: 1200px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    
}

#logo-cf{
position: absolute;
    width: 200px;
    height: 60px;
    background-image: url(../imagens/logo.png);
    background-size: cover;
    
}

#main{
    width: 100%;
    height: 860px;
    background-color: rgba(230, 230, 237,0.9);
}
/*MENSAGEM PRINCIPAL VIDEO DONWLOAD E MAAIS*/
#principal{
    width: 100%;
    height: 450px;
    background-color: black;
    background-image: url(../imagens/finan.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#caixa-chamada{
    width: 1200px;
    height: 390px;
    margin-right: auto;
    margin-left: auto;
    
}
/**Lado esquerdo  mensagens etc**/
#lado-esquerdo{
    width: 670px;
    height: 390px;
    color:white;
    float:left;
}

#slogan-principal{
    width: 670px;
    height: 80px;
    margin-top: 110px;
    position: absolute;
/*    background-color: blue;*/
    font-size: 35px;
    color:white;
}

#slogan-secundario{
    width: 670px;
    height: 60px;
    margin-top: 200px;
    position: absolute;
/*    background-color: blue;*/
    font-size: 21px;
    color:white;
}
/*botão apk  */
#botao-apk{
    width: 180px;
    height: 50px;
    background-color: #70e218;
    border: 2px solid #70e218;
    margin-top: 280px;
    float:left;
    transition: 0.5s;
}
#botao-apk:hover{
    cursor: pointer;
    background-color: #62ce0e;
    transition: 0.5s;
}

#icone-android{
    width: 50px;
    height: 50px;
    background-image: url(../imagens/android.png);
    background-size: cover;
    float: left;
    margin-left: 15px;
    margin-right: 10px;
}


#msg-android{
    float: left;
    width: 100px;
    height: 33px;
    font-size: 13px;
    padding-top: 17px;
}
/*********************/

/*botãp tutorial*/
#botao-tutorial{
    width: 140px;
    height: 33px;
    border: 2px solid white;
    margin-top: 280px;
    margin-left: 20px;
    float:left;
    text-align: center;
    padding-top: 17px;
    font-size: 13px;
    transition: 0.5s;
    
}
#botao-tutorial:hover{
    background-color: #11f0bc;
    cursor: pointer;
    transition: 0.5s;
}

#lado-direito{
    float:right;
    width:490px;
    height:390px;
   
}

#caixa-foto{
    width: 490px;
    height: 260px;
    margin-top: 70px;
    background-image: url(../imagens/fotoapp.jpg);
    background-size: cover;
    border: 2px solid white;
}



/*CAixa de baixoooo*/
#caixa-tutorial{
    width: 100%;
    height: 450px;
    color:#181819;
}

.item-tutorial{
    width: 33%;
    height: 450px;
    float:left;
}

.titulo-item{
    width: 80%;
    height: 60px;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 20%;
}
.passos{
    width: 80%;
    height:250px;
    padding-left: 20%;
    font-size: 15px;
    line-height: 20px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
    color:#11f0bc;
    text-align: center;
    font-size: 30px;
}